.notprint{display:none}
#header{width:50%;text-align:center;
  position:absolute;left:25%;right:25% ;}
#order{width:50%;text-align:center;
position:absolute;left:24%;right:24% ;top:15%;
border: 3px solid black;padding: 5px;}
table{margin-left: auto;margin-right: auto;width:100%;
border:1px solid black;}
