 #footer {
  padding: 1em;
  color: white;
  background-color: black;
  position:absolute;left:0%;right:0%;
}
#header{
  padding-top:2em;padding-bottom: 2em;
  color: black;
  font-family:impact,Arial, Helvetica;
  font-size: 1em;
  height:10%;
  line-height:10%;
  background-image: url(../img/header3.jpeg);
  margin:1%;
  position:absolute;left:0%;right:0%;bottom:5%;top:0%;}

img{max-width: 100%;
    max-height: 100%;
   vertical-align:middle;
    }
html {
  height: 100%;
  background-image: url(../img/background.jpg);
}
.center{margin-left:20%;margin-right:20%;text-align: center;}

#nav{
  position:fixed;
  z-index:1;
  opacity:0.5;
  width:10%;
  height:25%;
  color:white;
  background-color: black;
  text-align: center;
}
#nav:hover{
  opacity:1;
}

#nav p:hover{
  background-color: red;
}
